h1{
    color: red; 
    /* background-color: yellow;    */
    text-align: center;

}
h2{
    color: blue; 
    /* background-color: bisque;    */
    text-align: center;

}
h3{
    color: green; 
    /* background-color: aqua;    */
    text-align: center;

}
h4{
    color: orange; 
    /* background-color: brown;    */
    text-align: center;

}
h5{
    color: purple; 
    /* background-color: black;    */
    text-align: center;

}
h6{
    color: pink; 
    /* background-color: gray;    */
    text-align: center;

}
