div{
    height: 100px;
    width: 100px;
    background-color: dodgerblue;
    color: orange;
    border: 2px solid black;
    align-items: center;
}
#btn{
    margin: 0;
    padding: 0;
    height: 20px;
    width: 80px;
    background-color: greenyellow;
    color:red;
    /* font-size: medium; */
}
#btn:hover{
    background-color: aqua;
    color: blueviolet;
}
/* #btn1{
    margin: 0;
    padding: 0;
    height: 20px;
    width: 210px;
    background-color: red;
    color: azure;
    font-size: medium;
}
#btn1:hover{
    background-color: blue;
    color: green;
} */